extends layout

block content

    div#main
    
    section(id='contact', class='four') 
        div.container  
            header 
                h1 Ajouter un figurant
                br
                    
                form(action="/figurants", method="post")
                    div.row 
                        div(class='6u 12u$')
                            input(type='hidden', name="_id")
                        div(class='6u 12u$')
                            input(type='text', name="lastname", placeholder='Nom')
                        div(class='6u 12u$')
                            input(type='text', name="firstname", placeholder='Prenom')
                        div(class='6u 12u$')
                            input(type='text', name="email", placeholder='email')
                        div(class='12u$')
                            input(type='submit')               