extends layout

block content

    div#main
    
    section(id='contact', class='four') 
        div.container  
            header 
                h1 Ajouter une offre
                br
                                    
                form(action="/offres", method="post")
                    div.row 
                        div(class='6u 12u$')
                            input(type='hidden', name="_id")
                        div(class='6u 12u$')
                            input(type='text', name="nomEvent", placeholder='Nom')
                        div(class='6u 12u$')
                            input(type='text', name="typeEvent", placeholder='Type')
                        div(class='6u 12u$')
                            input(type='date', name="dateStart", placeholder='Date de paruption')
                        div(class='6u 12u$')
                            input(type='number', name="nbJours", placeholder='Nombre de jours')
                        div(class='6u 12u$')
                            input(type='text', name="roleDem", placeholder='Role demande')
                        div(class='6u 12u$')
                            input(type='number', name="nbFig", placeholder='Nombre de figurant')
                        div(class='12u$')
                            input(type='submit')
                        div(class='12u$')