extends layout

block content
  // Banner
  if user
  #banner-wrapper    
        #banner.box.container
            div.row
            
                div(class='7u 12u(medium)')
                    if user
                        h2 Salut #{user.username}
                    p Bienvenue sur Facecast 
                div(class='5u 12u(medium)')
                    ul
                        li
                        if !user
                            a.button.big.icon.fa-arrow-circle-right(href='login') Connexion
                        if user 
                            a.button.big.icon.fa-arrow-circle-right(href='/logout') Deconnexion
                        
  // Features
  #features-wrapper
    .container
        .row
            if !user
            div(class='4u 12u(medium)')
                
                // Box
                section.box.feature
                    a.image.featured(href='/candidatures')
                        img(src='images/candidature.png', alt='')
                    .inner
                        header
                            h2 Candidatures
                            p Maybe here as well I think
                        p
                            | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.
            div(class='4u 12u(medium)')
                // Box
                section.box.feature
                    a.image.featured(href='offres')
                        img(src='images/offre.jpg', alt='')
                    .inner
                        header
                            h2 Offres
                            p This is also an interesting subtitle
                        p
                            | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.
            div(class='4u 12u(medium)')
                // Box
                section.box.feature
                    a.image.featured(href='figurants')
                        img(src='images/figurant.png', alt='')
                    .inner
                        header
                            h2 Figurants
                            p Here's another intriguing subtitle
                        p
                            | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.
        
    
                  
                  
                  
    
