extends layout

block content

    div#main
        section(id='contact', class='four') 
            div.container  
            
                header 
                    h2.alt Inscription utilisateur 
                    br  
                    
                    form(action="/register", method="post") 
                    
                        div.row 
                            div(class='6u 12u$(mobile)')
                                input(type='text', name="username", placeholder='Login')
                            div(class='12u$')
                                input(type='password', name="password", placeholder='Mot de passe')
                                input(type='password', name="verify", placeholder='Vérification')          
                            div(class='12u$')
                                input(type='submit')