extends layout

block content

    h1 #{title}
        br
                    
        form(action="/figurants/update/edit/"+figurant._id, method="post")
            div.row 
                div(class='6u 12u$')
                    input(type='text', name="lastname", value= figurant.lastname)
                div(class='6u 12u$')
                    input(type='text', name="firstname", value=figurant.firstname)
                div(class='6u 12u$')
                    input(type='text', name="email", value=figurant.email)
                div(class='12u$')
                    input(type='submit')