extends layout

block content

  div#main
    
    section    
      div.container 
        header 
          h2.alt Modifier une offre
          br  

          form(action="/offres/update/edit/"+offre._id, method="post") 
            input(type='text', name="nomEvent", value=offre.nomEvent )
            br
            input(type='text', name="typeEvent", value=offre.typeEvent )
            br
            input(type='date', name="dateStart", value=offre.dateStart )  
            br
            input(type='number', name="nbJours", value=offre.nbJours )
            br
            input(type='text', name="roleDem", value=offre.roleDem )
            br
            input(type='number', name="nbFig", value=offre.nbFig )  
            br
            input(type='submit')