extends layout

block content

    h1 #{title}
        br
                    
        form(action="/offres/update/edit/"+offre._id, method="post")
            div.row 
                div(class='6u 12u$')
                    input(type='text', name="nomEvent", value= offre.nomEvent)
                div(class='6u 12u$')
                    input(type='text', name="typeEvent", value=offre.typeEvent)
                div(class='6u 12u$')
                    input(type='date', name="dateStart", value=offre.dateStart)
                div(class='6u 12u$')
                    input(type='text', name="nbJours", value=offre.nbJours)
                div(class='6u 12u$')
                    input(type='text', name="roleDem", value=offre.roleDem)
                div(class='6u 12u$')
                    input(type='text', name="nbFig", value=offre.nbFig)
                div(class='12u$')
                    input(type='submit')
            